In [1]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload
dataset=pd.read_csv('/content/Titanic-Dataset.csv')
print(dataset.shape)

(891, 12)

In [2]:
income_set=set(dataset['Sex'])
dataset['Sex']=dataset['Sex'].map({'female':0,'male':1}).astype(int)
print(dataset.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S

In [3]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
x=dataset.drop('Survived',axis='columns')
x
y=dataset.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [5]:
x.columns[x.isna().any()]
x.Age=x.Age.fillna(x.Age.mean())

In [6]:
x.columns[x.isna().any()]

Index(['Cabin', 'Embarked'], dtype='object')

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

# Load your dataset (replace with your actual dataset file path)
#dataset = pd.read_csv('your_dataset.csv')  Replace 'your_dataset.csv' with your actual dataset file

# Handle missing values (if any)
# Impute missing values with the mean for numerical columns
imputer = SimpleImputer(strategy='mean')
dataset[['Pclass','Sex','Age', 'Fare']] = imputer.fit_transform(dataset[['Pclass','Sex','Age', 'Fare']])

# Example feature columns (assuming 'Age' and 'Fare' are numerical columns)
X = dataset[['Pclass','Sex','Age', 'Fare']]  # Replace this with your actual feature columns

# If the target labels are categorical (e.g., 'Survived'), encode them
y = dataset['Survived']  # Replace 'Survived' with your actual target column

# Encode any categorical features (if you have 'Name' or other string columns)
# For example, if 'Name' is a feature you want to encode:
if 'Name' in dataset.columns:
    label_encoder = LabelEncoder()
    dataset['Name_encoded'] = label_encoder.fit_transform(dataset['Name'])

# You can include 'Name_encoded' in the feature set if needed
# Example: X = dataset[['Age', 'Fare', 'Name_encoded']]  # If you want to include 'Name' as a feature

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Naive Bayes model
model = GaussianNB()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.7598

In [25]:
y_pred=model.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score # Correct the typo in module name
print("accuracy.{0}%".format(accuracy_score(y_test,y_pred)*100))

accuracy.75.97765363128491%

In [27]:
# Now for the prediction of a new person (including Pclass, Sex, Age, and Fare)
# Input from the user
Pclassno = int(input("Enter the person's Pclass (1, 2, or 3): "))
Sex = int(input("Enter the person's Sex (0 for female and 1 for male): "))
Age = int(input("Enter the person's Age: "))
Fare = float(input("Enter the person's Fare: "))

# Prepare the person's data for prediction
person = [[Pclassno, Sex, Age, Fare]]  # Match the features used in training

# Make the prediction
result = model.predict(person)

# Output the result
if result == 1:
    print("Survived")
else:
    print("Not Survived")

Enter the person's Pclass (1, 2, or 3): 3
Enter the person's Sex (0 for female and 1 for male): 0
Enter the person's Age: 27
Enter the person's Fare: 11.13
Survived

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(